<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USM Maine</title>
    <style>
        /* CSS for styling */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1, h2, p {
            margin-bottom: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to University of Southern Maine (USM)</h1>
        <img src="C:\Users\ghimi\Desktop\430 login\djangoProject\usmSocialWeb\djangoWeb\usmapp\static\usmlogo.jpg" alt="USM Logo">
        <h2>About USM</h2>
        <p>
            The University of Southern Maine (USM) is a public university with campuses in Portland, Gorham, and Lewiston in the state of Maine, United States.
        </p>
        <p>
            USM offers undergraduate and graduate programs in various fields of study, including arts, sciences, business, education, health professions, and more.
        </p>
        <h2>USM Campuses</h2>
        <h3>Portland Campus</h3>
        <p>
            The Portland campus is located in the heart of Maine's largest city and offers a vibrant urban atmosphere with access to cultural attractions, restaurants, and more.
        </p>
        <img src="static\portland.jpg" alt="Portland Campus">
        <h3>Gorham Campus</h3>
        <p>
            The Gorham campus is situated in a suburban setting and offers a traditional college experience with a close-knit community and beautiful surroundings.
        </p>
        <img src="static\gorham.webp" alt="Gorham Campus">
        <h3>Lewiston Campus</h3>
        <p>
            The Lewiston campus offers a variety of programs and resources to serve students in the Lewiston-Auburn area and beyond.
        </p>
        <img src="static\lewiston.jpg" alt="Lewiston Campus">
    </div>
</body>
</html>
